$color-primary--50: #EBEEFB;
$color-primary--100: #BEC0E3;
$color-primary--200: #9397CE;
$color-primary--300: #6870BA;
$color-primary--400: #4B52AC;
$color-primary--500: #29369E;
$color-primary--600: #242F94;
$color-primary--700: #1A2589;
$color-primary--800: #121D7D;
$color-primary--900: #020968;

$color-secondary--50: #D9F7F7;
$color-secondary--100: #9CEBEA;
$color-secondary--200: #3FDFDB;
$color-secondary--300: #00D1BC;
$color-secondary--400: #00C3BC;
$color-secondary--500: #00B6AC;
$color-secondary--600: #00A89C;
$color-secondary--700: #009789;
$color-secondary--800: #008579;
$color-secondary--900: #006858;

$color-info--50: #DFF3FF;
$color-info--100: #B0E2FF;
$color-info--200: #7BD0FF;
$color-info--300: #31BCFF;
$color-info--400: #008CFF;
$color-info--500: #009FFF;
$color-info--600: #0091F9;
$color-info--700: #007DE6;
$color-info--800: #006CD4;
$color-info--900: #0048AC;

$color-help--50: #FCF6FF;
$color-help--100: #EED5FF;
$color-help--200: #E1B4FF;
$color-help--300: #D393FF;
$color-help--400: #C470FF;
$color-help--500: #B44FFF;
$color-help--600: #AE4ED2;
$color-help--700: #763FAD;
$color-help--800: #5C3288;
$color-help--900: #432463;

$color-success--50: #E4FAE9;
$color-success--100: #BEECC9;
$color-success--200: #91E1A6;
$color-success--300: #59D681;
$color-success--400: #00CC63;
$color-success--500: #00C245;
$color-success--600: #04B239;
$color-success--700: #009F2D;
$color-success--800: #008E20;
$color-success--900: #006D07;

$color-warning--50: #FFF3E0;
$color-warning--100: #FFDFB2;
$color-warning--200: #FFCB80;
$color-warning--300: #FFB64D;
$color-warning--400: #FFA626;
$color-warning--500: #FF9700;
$color-warning--600: #FC8B00;
$color-warning--700: #F67B01;
$color-warning--800: #F06B02;
$color-warning--900: #E75000;

$color-danger--50: #FFEBEE;
$color-danger--100: #FFCDD3;
$color-danger--200: #F29A9B;
$color-danger--300: #EB7273;
$color-danger--400: #F65151;
$color-danger--500: #FA3E37;
$color-danger--600: #EC3436;
$color-danger--700: #D92C30;
$color-danger--800: #CC2228;
$color-danger--900: #BD151D;

$color-neutral--50: #F7F7FB;
$color-neutral--100: #EDEDF1;
$color-neutral--200: #E1E1E5;
$color-neutral--300: #CECED2;
$color-neutral--400: #A9A9AD;
$color-neutral--500: #88888C;
$color-neutral--600: #616165;
$color-neutral--700: #4E4E52;
$color-neutral--800: #232326;
$color-neutral--900: #101015;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');